!#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#
!#  ______   ___    ___                                        ____                             ___       #
!# /\__  _\ /\_ \  /\_ \                    __                /\  _`\                          /\_ \      #
!# \/_/\ \/ \//\ \ \//\ \    __  __    ____/\_\  __  __     __\ \ \L\ \     __       __      __\//\ \     #
!#    \ \ \   \ \ \  \ \ \  /\ \/\ \  /',__\/\ \/\ \/\ \  /'__`\ \  _ <'  /'__`\   /'_ `\  /'__`\\ \ \    #
!#     \_\ \__ \_\ \_ \_\ \_\ \ \_\ \/\__, `\ \ \ \ \_/ |/\  __/\ \ \L\ \/\ \L\.\_/\ \L\ \/\  __/ \_\ \_  #
!#     /\_____\/\____\/\____\\ \____/\/\____/\ \_\ \___/ \ \____\\ \____/\ \__/.\_\ \____ \ \____\/\____\ #
!#     \/_____/\/____/\/____/ \/___/  \/___/  \/_/\/__/   \/____/ \/___/  \/__/\/_/\/___L\ \/____/\/____/ #
!#                                                                                   /\____/              #
!#                                                                                   \_/__/               #
!#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#
! Xresources Config

URxvt.font: 					xft:Hack Nerd Font:size=10
URxvt.scrollBar: 				false
URxvt*lineSpace: 				1
URxvt.litterSpace: 				-1
URxvt.perl-ext-common:          clipboard
URxvt*keysym.Control-Shift-C:   clipboard:copy
URxvt*keysym.Control-Shift-V:   clipboard:paste
URxvt.clipboard.autocopy: 		true

*background: 	[97]#282a36
*foreground:   	#eff0eb
*cursorColor:  	#9aedfe

*color0:      	#33303b
*color8:      	#4f4b58
*color1:      	#ff5c57
*color9:      	#ff5c57
*color2:      	#5af78e
*color10:     	#5af78e
*color3:      	#f3f99d
*color11:     	#f3f99d
*color4:      	#57c7ff
*color12:     	#57c7ff
*color5:      	#ff6ac1
*color13:     	#ff6ac1
*color6:      	#9aedfe
*color14:     	#9aedfe
*color7:      	#eff0eb
*color15:     	#eff0eb

*transparent: 	true
*shading: 		30
